@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
}

:root {
    --background-header: #6c558a;
    --backgound-footer: #6c558a;
    --background-main: #bfa8ed;

    --color-white: #FFFFFF;
    --text-font: "Lato", Sans-Serif;
    --cursive-font: "Dancing Script", Sans-Serif;

    --white-text: #FFFFFF;
}

#cabecalho{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas: "navbar others";
    background-color: var(--background-header);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
    margin-left: 1.5rem;
}

#navbar a{
    font-family: var(--text-font);
    text-decoration: none;
}

#menu{
    background-image: url("/projeto-landing-page/assets/img/menu.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-left: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

#img-logo{
    margin: 0.75rem 0 0 0;
    width: 7rem;
    border-radius: 1rem;
    background-color: var(--color-white);
    border: var(--color-white) solid 0.25rem;
}

#rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--backgound-footer);
    color: var(--white-text);
    font-family: var(--text-font);
    margin: 0;
}

hr{
    width: 100%;
    margin: 0.15rem 0.15rem;
    height: 1px;
    border: none;
    background-color: #FFFFFF;
}

main{
    height: 100vh;
    border: none;
    background-color: var(--background-main);
}

.navbar--desactive{
    color: var(--white-text);
}

.navbar--active{
    color: var(--background-main);
}

/* Estilos dinâmicos - hover*/

#navbar a:hover{
    color: var(--background-footer);
}
