* {
    margin: 0;
    padding: 0;
}

:root {
    --background-header: #7303fc;
    --backgound-footer: #7303fc;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-header);
}

#navbar-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
}

#logo{
}
